<!-- welcome message & container -->
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <h2 class="defaultText">Welcome! <!--{{name}}!--></h2>
            </div>
        </div>
        <div class="expenses">
            <h2 class="defaultText">Expense Form</h2>
            <form class="form new-expense-form">
                <!-- Expense input fields -->
                <div class="center">
                    <label class="questions" for="expense-category">Questions:</label>
                </div>
                <div class="center">
                    <select id="expense-category" name="expense-category" required>
                        <option value="">Select a question</option>

                        <option value="">What is your expense on housing?</option>
                        <option value="">What is your expense on transportation?</option>
                        <option value="">How much do you spend on utilities?</option>
                        <option value="">How much do you spend on groceries?</option>
                        <option value="">How much do you spend on miscellaneous?</option>
                    </select>
                </div>
                <div class="center">
                    <label class="questions" for="expense-paymentSchedule">Payment Schedule:</label>
                </div>
                <div class="center"><select id="expense-paymentSchedule" name="expense-paymentSchedule" required>
                        <option value="">Select a payment schedule</option>
                        <option value="annually">Annually</option>
                        <option value="monthly">Monthly</option>
                    </select>
                </div>
                <div class="center">
                    <label class="questions" for="expense-amount">Amount:</label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control expense-amount"
                        aria-label="Dollar amount (with dot and two decimal places)" />
                </div>
                <div class="center">
                    <label class="questions" for="expense-description">Description:</label>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Type:</span>
                    <textarea id="expense-description" class="form-control" aria-label="Type:"></textarea>
                </div>
                <div class="center">
                    <button id="submit" type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="expenseContainer-wrapper">
        <div class="expenseContainer">
            <h1 class="defaultText">Rendering</h1>
            <div class="col-md-6 expense-list ">
                <div class="budget">
                    <h2 class="defaultText">Expense Section</h2>
                    {{#each expenses as |expense|}}
                    <div class="withinContainer">
                        <div class="left">
                        <h4>{{expense.description}}</h4>
                        <p>Amount: ${{expense.amount}}</p>
                        <p>Schedule: {{expense.paymentSchedule}}</p>
                        </div>
                        <div class="right">
                            <button class="btn btn-outline-danger" data-id="{{expense.id}}">DELETE</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
<script src="./js/profile.js"></script>